# General
.DS_Store

# KiCad
fp-info-cache
*-cache.lib

# Visual Studio
*.csproj.user
client/**/obj/
client/**/.vs/
client/**/bin/

# uVision
mcu/MDK-ARM/DebugConfig/
*.uvoptx
*.uvguix.*
*.o
*.d
*.axf
*.build_log.*
*.hex
*.htm
*.lnp
*.dep
*.lst
